.contexts_list{
  list-style-type: none;
  padding-left: 16px;
  
  color: white;
}

.contexts_list li a {
  text-decoration: none;
  color: white;
  padding: 12px 35px;

  font-size: 24px;

  margin-left: 50px;
  font-family: 'Arial', Times; /* A fonte Arial Black não funcionou*/

  display:list-item;
  display: flex;

} 

.reference {
  justify-items: center; /*Elementos centralizada*/
  text-align: center;
  font-size: 32px;
  padding-top: 12px;
}

.ref i {
  margin-right: 16px;
}